body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  color: #212121;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.main img {
  height: 100px;
  margin: 50px;
}
.main input {
  width: 300px;
  height: 50px;
  border-radius: 20px;
}
